<div class="container text-center">
  <%= image_tag "yenamarre_WEB_1.jpg", class:"responsive-image" %>
  <%= image_tag "yenamarre_WEB_2.jpg", class:"responsive-image" %>
  <%= image_tag "yenamarre_WEB_3.jpg", class:"responsive-image" %>
  <%= image_tag "yenamarre_WEB_4.jpg", class:"responsive-image" %>
</div>
