<div class="container text-center">
  <%= image_tag "yenamarre_WEB_1.jpg" %>
  <%= image_tag "yenamarre_WEB_2.jpg" %>
  <%= image_tag "yenamarre_WEB_3.jpg" %>
  <%= image_tag "yenamarre_WEB_4.jpg" %>
</div>
