.binome_dasboard_card {
  border: 1px solid black;
  padding: 16px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-decoration: none;

}

.item_binome_dasboard_card {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}
